<%- include('../partials/header.ejs'); -%>
<body id="body">
<%- include('../partials/nav.ejs'); -%>
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-8">
				<div>
				  <h1 class="display-4">Itinerary</h1>
				  <%
				  let restaurant = '<div class="card border-dark mb-3" style="width: 14rem;"><div class="card-header">' + data.name + '</div><div class="card-body"><strong>Rating:</strong><p>' + data.rating + '</p><strong>Phone Number:</strong><p>' + data.formatted_phone_number + '</p><a href="' + data.url + '" class="btn btn-primary">View on Google Maps</a><a href="' + data.website + '" class="btn btn-primary">Visit Website</a><br><strong>Open Hours Today:</strong><p>' + open_hours + '</p</div>';
			  %>
			  <%- restaurant %>
				<div class="name-box">
					<p id="name">Your restaurant:
						<%- restaurant_name %>
					</p>
					<p id="name">Your movie:
						<%- movie_name %>
					</p>
				</div>

				<div class="map-box">
					MAP GOES HERE
				</div>
				</div>
			</div>
		</div>
	</div>

<%- include('../partials/footer.ejs'); -%>