<%- include('../partials/header.ejs'); -%>
<body id="body">
  <%- include('../partials/nav.ejs'); -%>

    <br>
    <br>
        <div id="container">
            <div id="choose">
                <h1> Movies</h1>
                <h2>
                    <%- cinema_name%>
                </h2>
                <br>
                <form action="/itinerary/" method="POST">

                    <%
                        let cards = '<div class="card-col-sm-6">';
                        data.forEach(function(data){
                            cards += '<input type="radio" name="rest_id" value="' + data.film_id + '"><div class="card border-dark mb-3" style="width: 14rem;"><div class="card-header">' + data.film_name + '</div><div class="card-body"><strong>Genre:</strong><p>' + data.film_genre + '</p><strong>Showtimes:</strong><p>' + data.film_showtimes + '</p></div>';
                        });
                        cards += '</div>';
                    %>
                    <%- cards %>
                    <input type="submit" value="Continue to Itinerary">
                </form>
            </div>
        </div>
   
<%- include('../partials/footer.ejs'); -%>
<!--
<%- include('../partials/header.ejs'); -%>
<body id="body">

<%- include('../partials/nav.ejs'); -%>
   <div class="container">
        <br>
        <br>
    <div class="container rest">
        <h1> Movies </h1>
		<h2>  <%- cinema_name%> </h2>
        <br>
        <form action="/itinerary/" method="POST">
        <%
            let cards = '<div class="card-columns">';
			data.forEach(function(data){
				cards += '<div class="card" style="width: 14rem;" name="rest_id" value="' + data.film_id + '">
				<div class="card border-dark mb-3" style="width: 14rem;">
				<div class="card-header">' + data.film_name + '</div>
				<div class="card-body"><strong>Genre:</strong><p>' + data.film_genre + '</p><strong>Showtimes:</strong><p>' + data.film_showtimes + '</p></div>';
			});
			cards += '</div>';
		%>
		<%- cards %>
        <input type="text" style="visibility: hidden" name="rest_id" required/>
        <input type="submit" value="Continue to Movie Selection">
        </div>
        </form>
    
    <script>
        // from https://stackoverflow.com/questions/32935435/use-div-as-radio-button
        $('.container .card-columns .card').click(function(){
        $(this).parent().find('.card').removeClass('selected');
        $(this).addClass('selected');
        var val = $(this).attr('data-value');
        $(this).parent().parent().find('input:first').val(val);
});
    </script>
<%- include('../partials/footer.ejs'); -%> -->
