<%- include('../partials/header.ejs'); -%>
<body id="body">
  <div class="background"
<%- include('../partials/nav.ejs'); -%>
    <br>
    <br>
    <div id="container">
        <div id="choose">
            <h1> Movies</h1>
            <br>
            <form action="/itinerary/" method="POST">
                <input type="submit" value="Continue to Itinerary">
            </form>
        </div>
    </div>
    <p>DATA HERE:</p>
    <p><%- data %></p>
    <p><%- place_id %></p>
    </div>
</body>
<style>
  .background {
      width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjvdiwNl95dOyDDAJ_WdxauEjdjIfHA1ZcVg&usqp=CAU");
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
  }
</style>
<%- include('../partials/footer.ejs'); -%>
